<template>
  <div>
    <b-alert :show="alertState">Content successfuly copied!</b-alert>
    <b-card no-body class="shadow border-0">
      <b-card-header>
        <div
          card-header
          class="d-flex justify-content-between align-items-center"
        >
          <h6 class="mb-0">{{ title }}</h6>
          <div>
            <b-button
              @click="copyGroupsToClipboard"
              variant="link"
              title="Copy To Clipboard"
            >
              <b-icon-files />
            </b-button>
            <b-button
              class="text-danger"
              @click="$emit('close')"
              variant="link"
              title="Close"
            >
              <b-icon-x-square />
            </b-button>
          </div>
        </div>
      </b-card-header>
      <div ref="content" class="p-4">
        <slot name="list-name" :list-name="currentList.name"></slot>
        <div v-for="group in currentList.groups" :key="`group_${group.id}`">
          <slot name="group-title" :group-title="group.title"></slot>
          <div v-for="card in group.cards" :key="`card_${card.id}`">
            <slot name="card" :card="card"></slot>
          </div>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import {  BIconXSquare } from 'bootstrap-vue'

  const removeAllSelections = () => {
    window.getSelection().removeAllRanges()
  }

  const selectContent = element => {
    let range = document.createRange()
    range.selectNode(element)
    window.getSelection().addRange(range)
  }

  const copySelection = () => {
    setTimeout(() => {
      document.execCommand('copy')
      removeAllSelections()
    })
  }

  export default {
    props: ['title'],
    components: {
      // BIconDocuments,
      BIconXSquare
    },
    data() {
      return {
        alertState: false
      }
    },
    methods: {
      copyGroupsToClipboard() {
        removeAllSelections()
        selectContent(this.$refs.content)
        copySelection()
        this.showAlert()
      },
      showAlert() {
        this.alertState = true
        setTimeout(() => {
          this.alertState = false
        }, 3000);
      }
    },
    computed: mapGetters('list', ['currentList'])
  }
</script>
