<template>
  <formatter title="Markdown" @close="$emit('close')">
    <template #list-name="{ listName }">
      <div># {{ listName }}</div>
    </template>
    <template #group-title="{ groupTitle }">
      <div>## {{ groupTitle }}</div>
    </template>
    <template #card="{ card }">
      <div>### {{ card.title }}</div>
      <div v-if="card.note">{{ card.note }}</div>
    </template>
  </formatter>
</template>

<script>
  import Formatter from './Formatter'

  export default {
    components: { Formatter }
  }
</script>
