<template>
    <b-card no-body class="border-0 rounded" :cardid="card.id"> 
        <b-card-title
            class="d-flex justify-content-between align-items-center mb-0"  
            :class="{ 'p-1': !isReadOnly || isDuplicate, 'pl-0 pr-0 mb-1': isReadOnly || isDuplicate }"
            title-tag="div"
            >
            <b-button @click="$emit('destroy')" size="sm" variant="light" v-if="!isReadOnly || isDuplicate">
                <b-icon-trash-fill class="text-danger" />
            </b-button>
           
            <b-icon-pencil v-if="!isReadOnly" />
            <b-icon-pencil v-else-if="isDuplicate" />
            <b-form-input
                v-if="isDuplicate"
                type="text"
                placeholder="Add title"
                size="sm"
                class="border-none"
                v-model="cardModel.title"
                @keyup.enter="$event.target.blur()"
                @blur="emitEvent"
                @click="removebordertitle()"
                @mousedown="removebordertitle()"
                ref="title"
                />
            <b-form-input
                v-else
                type="text"
                placeholder="Add title"
                size="sm"
                class="border-none"
                v-model="cardModel.title"
                @keyup.enter="$event.target.blur()"
                @blur="emitEvent"
                @click="removebordertitle()"
                @mousedown="removebordertitle()"
                ref="title"
                :disabled="isReadOnly"
                />
            <b-button
                size="sm"
                variant="light"
                class="handle"
                style="cursor: move"
                disabled
                v-if="!isReadOnly || isDuplicate"
                >
                <b-icon-arrows-fullscreen />
            </b-button>
        </b-card-title>
        <b-card-body v-if="isDuplicate" :class="{ 'p-0': isDuplicate, 'pl-2 pr-2 pb-2 pt-0': isDuplicate}">
            <p>
            <b-form-textarea
                class="border-none margin-5 textareashowhide"
                :id="`${card.id}`"
                placeholder="Enter note"
                size="sm"
                rows="7"
                ref="cardbody"
                :cardid="card.id"
                v-model="cardModel.note"
                @blur="emitEvent"
                @click="removeborder()"
                @mousedown="removeborder()"
                />
            <b-button v-if="this.LineCount > 5" v-show="!visible" :cardid="card.id"  @click="showmore(card.id)">Show More</b-button>
            <b-button v-show="visible" :card="card.id" @click="showless(card.id)">Show Less</b-button>
            </p>
        </b-card-body>
                <b-card-body v-else :class="{ 'p-0': isReadOnly , 'pl-2 pr-2 pb-2 pt-0': !isReadOnly}">
            <p>
            <b-form-textarea
                class="border-none margin-5 textareashowhide"
                :id="`${card.id}`"
                placeholder="Enter note"
                size="sm"
                rows="7"
                ref="cardbody"
                :cardid="card.id"
                v-model="cardModel.note"
                @blur="emitEvent"
                @click="removeborder()"
                @mousedown="removeborder()"
                :disabled="isReadOnly"
                />
                <!-- <b-avatar :src="cardModel.image" size="6rem"></b-avatar> -->
            <b-button v-if="this.LineCount > 5" v-show="!visible" :cardid="card.id"  @click="showmore(card.id)">Show More</b-button>
            <b-button v-show="visible" :card="card.id" @click="showless(card.id)">Show Less</b-button>
            </p>
            <!-- <div v-html="cardModelDesc">
            </div> -->
        </b-card-body>
    </b-card>
</template>
<script>
    import {text1} from '../../config.js'
    import {
    BIconPencil,
            BIconArrowsFullscreen,
            BIconTrashFill
    } from 'bootstrap-vue'
            import { mapGetters } from 'vuex'
            export default {
                props: {
                    card: {
                        required: true,
                        default: () => ({})
                    },
                },
                data() {
                    return {
                        defaultLineCount: 7,
                        LineCount: 0,
                        visible: false,
                        characterLength: 0,
                        taLineHeight: 27,
                        formatt: [],
                        formatted: [],
                    }
                },
                components: {
                    BIconPencil,
                    BIconArrowsFullscreen,
                    BIconTrashFill
                },
                methods: {
                    UserId() {
                        var user = JSON.parse(localStorage.getItem('user'));
                        return  user.user.id
                    },
                    showless(card) {
                        document.getElementById(card).style.height = (this.taLineHeight * 5.5) + 'px';
                        this.visible = false
                    },
                    showmore(card) {
                        document.getElementById(card).style.height = (this.LineCount * 27) + 17 + 'px';
                        document.getElementById(card).style.paddingBottom = "4px"
                        this.visible = true
                    },
//                    remove red border
                    removeborder() {
                        this.$refs.cardbody.$el.style.borderColor = "#fff"
                        this.$refs.cardbody.$el.style.borderWidth = "0"

                        var list = this.$refs.cardbody.$el;
                        var previous = list.previousSibling;
                        if (previous) {
                            previous.parentNode.removeChild(previous);
                        }
                    },
//                    remove red border
                    removebordertitle() {
                        this.$refs.title.$el.style.borderColor = "#fff"
                        this.$refs.title.$el.style.borderWidth = "0"
                    },
                    emitEvent() {
//                        calculate textarea height for show more button
                        var taHeight = this.$refs.cardbody.$el.scrollHeight;
                        var numberOfLines = Math.floor(taHeight / this.taLineHeight);
                        this.LineCount = numberOfLines;
                        if (this.$refs.cardbody.value) {
                            this.characterLength = this.$refs.cardbody.value.length

                        } else {
                            this.characterLength == 0
                        }
                        if (this.$refs.title.value) {
                            this.titleLength = this.$refs.title.value.length

                        } else {
                            this.titleLength == 0
                        }
//                        apply red border if title length is greater than 45 and description lenght is greater than 3000
                        if (this.titleLength == '') {
                            this.$refs.title.$el.style.borderColor = "#F44336"
                            this.$refs.title.$el.style.borderWidth = "0.2rem"
                        } else if (this.characterLength > 3000 || this.titleLength > 45) {
                            var list = this.$refs.cardbody.$el;
                            var previous = list.previousSibling;
                            if (previous) {
                                previous.parentNode.removeChild(previous);
                            }


                            if (this.characterLength > 3000) {
                                this.$refs.cardbody.$el.style.borderColor = "#F44336"
                                this.$refs.cardbody.$el.style.borderWidth = "0.2rem"
                                this.$refs.cardbody.$el.style.paddingTop = "0px"
                                this.$refs.cardbody.$el.style.paddingBottom = "4px"
                                var newItem = document.createElement("P");
                                newItem.innerHTML = "Maximum character limit is 3000"
                                newItem.className = "red-validation"
                                list.parentNode.insertBefore(newItem, list);

                            } else if (this.titleLength > 45 || this.titleLength == '') {
                                this.$refs.title.$el.style.borderColor = "#F44336"
                                this.$refs.title.$el.style.borderWidth = "0.2rem"
                            }



                        }
                        if (this.characterLength > 3000 && this.titleLength > 45) {
                            this.$refs.cardbody.$el.style.borderColor = "#F44336"
                            this.$refs.cardbody.$el.style.borderWidth = "0.2rem"
                            this.$refs.title.$el.style.borderColor = "#F44336"
                            this.$refs.title.$el.style.borderWidth = "0.2rem"
                        } else if (this.characterLength <= 3000 && this.titleLength < 45 && this.titleLength != '')
                        {
                            this.$refs.title.$el.style.borderColor = "#ffffff"
                            this.$refs.title.$el.style.borderWidth = "0"
                            this.$emit('save', this.cardModel)
                        }

                    },
                    fetchFormat(){
                    let ref = this;
                    ref.formatt = JSON.stringify(text1)
                    ref.formatted = JSON.parse(ref.formatt)
                    },
                    urlify(text) {
                        let ref =this;
                        var domaindata = (ref.formatted)
                        console.log(domaindata)
                        var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
                        
                        return text.replace(urlRegex, function(url) {
                            if(domaindata[url]){
                                return '<a target="_blank" href="' + url + '"><img height="50px;" width="50px;" src="' +  domaindata[url] + '" /></a>';
                            }
                            else{
                                return url;
                            }
                        })
                    }
                },
                mounted() {
//                    calculate textarea height for show more button
                    var taHeight = this.$refs.cardbody.$el.scrollHeight;
                    var numberOfLines = Math.floor(taHeight / this.taLineHeight);
                    this.LineCount = numberOfLines;

                    if (!this.cardModel.id) {
                        this.$refs.title.$el.focus()
                    }
                },
                created(){
                    this.fetchFormat()
                },
                
                computed: {
                    ...mapGetters('list', ['currentList']),
                    isReadOnly() {
                        return this.currentList.is_read_only
                    },

                    cardModel: {
                        get() {
                            return this.card
                        },
                        set() {
                            this.emitEvent()
                        }
                    },
                    cardModelDesc:{ 
                        get(){
                            // let ref =this;
                            // var domaindata = ref.formatted
                            var str = this.card.note
                            // var w = str;
                            // const notes = w.split(' ');
                            // console.log(notes, 'notes')
                            // console.log(domaindata, 'domaindata')
                            //  var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;

                            // for(let i = 0; i <= notes.length -1; i++){
                            //     if(notes[i].match(urlRegex)){
                            //         console.log(notes[i])
                            //     }
                            // }

                            // var result = str.link("https://www.w3schools.com");
                            return this.urlify(str)
                            // return str
                        }
                    },
                    duplicateList(){
                        var duplicate = localStorage.getItem('duplicatelist')
                        return duplicate
                    },
                    isDuplicate(){
                        let duplicate = !!localStorage.getItem('duplicatelist')
                        return duplicate
                    }
                }
            }
</script>

<style scoped>
    .form-control:disabled, .form-control[readonly] {
        background-color: #fff;
    }
</style>
