<template>
    <b-list-group-item :to="isEditing ? null : { name: 'list', params: { id: list.id } }">
        <div v-if="isEditing" class="editing">
            <span :id="iconClass"> 
                <b-form-input
                    class="border-none listname"    
                    placeholder="Add List Name....."
                    type="text"
                    size="sm" 
                    required
                    :state="null"
                    v-model="name"
                    ref="input"
                    @click="removeborder()"
                    @key.escape="$emit('cancel-edit')"

                    />
                    <b-form-select  v-on:change="removeborderdropdown()" ref="dropdown" placeholder="Add Category" v-model="category_id" class="categorieslist"
                               >
                        <b-form-select-option selected value="">Select Category</b-form-select-option>
                        <b-form-select-option v-for="category in categoryitems"
                                              :key="category.id" :value="category.id">{{category.name}}</b-form-select-option>
                    </b-form-select>


                    <b-link @click="save()" class="btn btn-sm btn-light text-primary">
                        <b-icon-check font-scale="1.4" />
                    </b-link>
                    <b-link v-if="list.id" @click="$emit('cancel-edit')" class="btn btn-sm btn-light text-danger ml-2">
                        <b-icon-x font-scale="1.2" />
                    </b-link>
            </span>




        </div>
        <div class="d-flex align-items-center justify-content-between" v-else>
            <div>{{ list.name }}</div>
            <div class="edit-delete-container">
                <span class="share-icons"> 
                    <!--flag tooltip for rejected status-->
                    <b-link>
                        <b-button v-b-tooltip.hover v-if="list.status==2 && UserId==list.owner_id" class="btn btn-danger flag-fill"  title="Rejected, Edit List for resubmission.">
                            <b-icon-flag-fill></b-icon-flag-fill>
                        </b-button>
                    </b-link>
                    <!--flag tooltip for approved status-->
                    <b-link > 
                        <b-button v-b-tooltip.hover v-if="list.status==1 && UserId==list.owner_id"  class="btn btn-success flag-fill" title="List Approved.">
                            <b-icon-flag-fill></b-icon-flag-fill>
                        </b-button>
                    </b-link>


                </span> 
                <b-link @click="$emit('edit')" class="btn btn-sm btn-light text-primary">
                    <b-icon-pencil font-scale="1.2" />
                </b-link>
                <b-link @click="deleteList" class="btn btn-sm btn-light text-danger ml-2">
                    <b-icon-trash font-scale="1.2" />
                </b-link>
            </div>
        </div>
    </b-list-group-item>
</template>
<script>
    import { BIconTrash, BIconPencil } from 'bootstrap-vue'
            import axios from 'axios'
            export default {
                props: {
                    list: {
                        required: true,
                        default: () => ({})
                    },
                    categoryitems: {

                    }

                },
                components: {BIconTrash, BIconPencil},
                data() {
                    return {
                        value: '',
                        category_id: '',
                        categoryitems1: [],
                        showMenu: false
                    }
                },
                methods: {

                    save() {
//                        if name is empty apply red border
                        if (this.name === '')  {
                            this.$refs.input.$el.style.borderColor = "#F44336"
                            this.$refs.input.$el.style.borderWidth = "0.2rem"
                        } else {
                            if (this.category_id === '') {
                                // this.category_id = ''
                            this.$refs.dropdown.$el.style.borderColor = "#F44336"
                            this.$refs.dropdown.$el.style.borderWidth = "0.2rem"
                            }
//                            remove red border
                            this.$refs.input.$el.style.borderColor = "#fff"
                            this.$refs.input.$el.style.borderWidth = "0"
                            this.$emit('save', {name: this.name, category_id: this.category_id})
                        }

                    },
                    removeborder() {
                        this.$refs.input.$el.style.borderColor = "#fff"
                        this.$refs.input.$el.style.borderWidth = "0"
                    },
                    removeborderdropdown() {
                        this.$refs.dropdown.$el.style.borderColor = "#fff"
                            this.$refs.dropdown.$el.style.borderWidth = "0"
                    },
                    deleteList() {
                        if (
                                confirm(
                                        "Are you sure you want to delete the list and all of it's groups?"
                                        )
                                ) {
                            this.$emit('delete')
                        }
                    },
                    loadCategories() {
                        let ref = this;
                        axios.get('/categories')
                                .then((res) => {
                                    var newdata = res.data
                                    ref.categoryitems = newdata;
                                })
                    },
                },
                computed: {
                    isEditing() {
                        return !this.list.id || !!this.list.editMode
                    },
                    UserId() {
                        var user = JSON.parse(localStorage.getItem('user'));
                        return  user.user.id
                    },
                    Ownerid() {
                        return this.currentList.owner_id
                    },
                    iconClass() {
                        return this.showMenu ? 'nonempty-list' : 'empty-list';
                    }
                },
                created() {
                },
                watch: {
                    isEditing: {
                        handler() {
                            this.name = this.list.name
                            this.category_id = this.list.category_id
                            this.$nextTick(() => {
                                // if (this.$refs.input) {
                                //   this.$refs.input.$el.focus()
                                // }
                                if (this.$refs.select === '') {
                                    // console.log('empty')
                                }
                            })
                        },
                        immediate: true
                    }
                }
            }
</script>
