<template> 
    <article id="post-body" class="norm h-entry mb-5 mt-5 ">
        <div class="e-content"><font style="vertical-align: inherit;">
          
<h1>About Berry</h1>


<h2>Explore your Favourite Berries here</h2>

<p>Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon</p>



</font>
</div> 
</article>
</template> 

<script> 
            export default {
                methods: {
                    scrollToTop() {
                        window.scrollTo(0, 0);  
                    }
},
              
mounted() {
                    this.scrollToTop()
                },
                created() {
                    this.scrollToTop()
                },

            }
</script>