<template>  
    <!-- Categories detailed page --> 
    <div class="post-contain"> 
         <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"></loading>
    <div class="text-center mt-5 mb-5 post-container category_gradient1 ">
        <!--Search bar component called-->
        <!-- <searchbar /> -->
        <div class="container post-container-category category-container margin-5">    
            <!--Category card-->
            <div class="categorylistname">
                <router-link :to="{ name: 'berry',  params: { id: categoryitems.id } }"> 
                    <b-card-body class="card-header post-container-list-name category-list-name text-center w-100">
                            <!-- <span class="icon">
                               
                                <div class="icon-image"></div>
                            </span> -->
                            <span class="title">
                                <b-card-text  class=" mt-2 mb-2 col-md-10 post-title post-container-list-name category-list-name text-center">{{categoryitems.name}}
                                </b-card-text>
                                <b-card-text class="font-weight-500" v-if="categoryitems.firmness">Firmness: {{categoryitems.firmness.name}} </b-card-text>
                                <b-card-text class="font-weight-500" v-if="categoryitems.growth_time">Growth Time: {{categoryitems.growth_time}} </b-card-text>
                                <b-card-text class="font-weight-500" v-if="categoryitems.size">Maximum Number of Berries: {{categoryitems.size}} </b-card-text>
                                <b-card-text class="font-weight-500" v-if="categoryitems.natural_gift_type">Natural Gift Type: {{categoryitems.natural_gift_type.name}} </b-card-text>
                                <b-card-text class="font-weight-500" v-if="categoryitems.flavors">Flavors: <span v-for="listitems in categoryitems.flavors" v-bind:key="listitems.id" >{{listitems.flavor.name}} </span> </b-card-text>
                            </span>
                        <!-- <span class="img"><img v-if="category.image_url" class="card-img-top" :src="`${category.image_url}`"  alt="Card image"> -->
                            <!-- </span> -->
                        </b-card-body>
                </router-link>
            </div>
            <!-- Firmness same under that particular Berry -->
           <div class="categorylistname">
                <b-card-body class="card-header post-container-list-name category-list-name text-center w-100 background-pink">
                            <span class="title w-100">
                                <b-card-text  class=" mt-2 mb-2 col-md-10 post-title post-container-list-name category-list-name text-center w-100 ">Same Firmness Berries
                                </b-card-text>
                            </span>
                        </b-card-body>
            </div>
            <div class="categorylistname categorylistdetails text-center same_firmness_section">
                <!--List card--> 
                <div class="main_content" v-for="listitems in firmness.berries" v-bind:key="listitems.id">
                    <router-link :to="{ name: 'berry',  params: { id: listitems.name } }"> 
                        <b-card-body class="list-a card-header text-center">
                        <div class="content">
                            <div class="content-upper flex_inline">
                                <!-- <div class="content-upper-icon"><div class="icon_area"></div></div> -->
                                <div class="text_area">  <b-card-header class="col-md-10  category-list-name content-upper-text"  text-variant="white" :header="` ${listitems.name}`">
                                </b-card-header>
                           
                            <!-- <b-card-sub-title>{{listitems.comments_count}} Comments</b-card-sub-title> -->
                        </div>  </div> </div>
                        <!-- <div class="image">
                         <img v-if="category.image_url" class="card-img-top" :src="`${category.image_url}`"  alt="Card image"> 
                        </div> -->
                    </b-card-body>
                    </router-link>
                    
                </div>
                <!-- <b-link class="load-more-cards" @click="LoadMoreCards(category.id, category.lists)" v-if=" category.lists_data_count && category.lists_data_count > category.lists.length" > Load more cards</b-link> -->
            </div>
        </div>
    </div>
</div>
</template> 

<script>
    import { mapGetters } from 'vuex'
            import axios from 'axios'
            // import AddBtn from '@/components/AddBtn'
            // import Searchbar from '@/components/Searchbar'
             import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
            export default {
                data() {
                    return {
                        categoryitems: [],
                        firmness: [],
                        firm:'',
                        firmness_id:'',
                        isLoading: false,
                        fullPage: true
                    }
                },
                name: 'Berry',
                 components: {
                    Loading
                },
                computed: {
                    ...mapGetters('auth', ['loggedIn', 'user']),
                    loggedIn() {
                        let loggedIn = !!localStorage.getItem('user')
                        return loggedIn
                    }
                },
                // components: {Searchbar},
                // components: {AddBtn},
                beforeRouteUpdate (to, from, next) {
    this.updateCategories(to.params.id);
  next();
},
                methods: {
                    onCancel() {
              console.log('User cancelled the loader.')
            },
                     scrollToTop() {
                        window.scrollTo(0, 0);
                    },
//                    Categories with their respective list data
                    updateCategories(catid) {
                        let ref = this;
                        this.isLoading = true;
                        // simulate AJAX
                        setTimeout(() => {
                        this.isLoading = false
                        },2000)
                        axios.get(`/berry/${catid}`)
                                .then((res) => {
                                    var newdata = res.data
                                    ref.categoryitems = (newdata);
                                    ref.firm = ref.categoryitems.firmness.name
                                    ref.firmnesss(ref.firm);
                                })
                    },
                    firmnesss(firm) {
                        let ref = this;
                        axios.get(`/berry-firmness/${firm}`)
                                .then((res) => {
                                    var newdata = res.data
                                    ref.firmness = (newdata);
                                    ref.firmness_id = ref.firmness.id;
                                })
                    }

                },
                mounted() {
                    this.updateCategories(this.$route.params.id);


                },
                created() {
                    this.scrollToTop()
                    this.updateCategories(this.$route.params.id);
                }
            }
</script>
