<template> 
 
  <article id="post-body" class="norm h-entry mt-5 mb-5"><div class="e-content">
    
  <p><strong>Impressum</strong></p>
</div>
</article>

</template> 
<script> 
            export default {
                methods: {
                    scrollToTop() {
                        window.scrollTo(0, 0);
                    }
                },
              
                
                mounted() {
                    this.scrollToTop()
                },
                created() {
                    this.scrollToTop()
                },

            }
</script>
