<template>
    <!-- HTLM of existing Home page with category display -->
  <div class="text-center font-italic mt-5">
    <div v-if="loggedIn">
    <h1 v-if="user">Welcome, {{ user.name }}!</h1>
    <h1 v-else>Welcome!</h1>
      <p>Thank you for using Wordit!</p>

    </div>

    <div v-else>
      <h1>Welcome to Wordit!</h1>
      <!-- <p> -->
        <!-- In order to use it, you need to -->
        <!-- <b-link :to="{ name: 'login' }">login</b-link> or -->
        <b-button class="signupbutton" :to="{ name: 'register' }">Sign Up</b-button>
        <!-- <b-link :to="{ name: 'register' }">Sign Up</b-link> -->
      <!-- </p> -->
    </div>


          <div class="container category-container margin-5">    
    
      <router-link :to="{ name: 'categories',  params: { id: category.id } }" class="card img-fluid"  v-for="category in categoryitems" v-bind:key="category.id"> 

    <img class="card-img-top" :src="`${category.image_url}`"  alt="Card image"> 

      
    <div class="card-img-overlay">
      <h4 class="card-title">{{category.name}}</h4> 
    </div>
      </router-link>

  </div>


  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import axios from 'axios'
  export default {
                    data() {     
                    return {

                        categoryitems: [],  

                    }
                },
    name: 'Home',
    computed: mapGetters('auth', ['loggedIn', 'user']), 
    methods: {
      loadCategories1() {
                        let ref = this;   
                        axios.get('/categories')  
                                .then((res) => { 
                                    var newdata = res.data.data
                                    ref.categoryitems = (newdata);
                                })  
                    },
    },
    created() {
      this.loadCategories1();   
    }
  }
</script>
