<template> 
    <article id="post-body" class="norm h-entry "><p>
         searchProducts(search) {
                        let ref = this;

                        this.$nextTick(() => {
//                            when search length is greater than 2 alphabets
                            if (search.length > 2) {
                                let router = ref.$router
//                                timeout for no throttling
                                clearTimeout(ref.timeout);
                                ref.timeout = setTimeout(function () {
                                   axios.get(`/berry/${search}`)
                                            .then(res => {
                                                //pass search query string to router query
                                                router.push({query: {search: search}}).catch(() => {
                                                })
                                                if (ref.loggedIn) {
                                                    ref.RecentSearch();
                                                }
                                                var newdata = [];
                                                newdata.push(res.data)
                                                var newdatalength = newdata.length
                                                var listcount = newdata.count
                                                ref.listcounts = listcount - newdatalength
                                                ref.postList = (newdata);
                                                if (ref.postList == '') {
                                                    ref.empty = true
                                                    ref.RecentData = true
                                                    ref.staticContainer = false

                                                } else {
                                                    ref.empty = false
                                                    ref.RecentData = false
                                                }
                                            })
                                    ref.showpost = 0
                                    ref.showsearch = 1
                                    ref.staticContainer = false
                                }, 2000);

                            }
                            // else if (search || typeof (search == 'undefined')) {
                            //     this.loadPost()
                            //     ref.showsearch = 0
                            //     this.empty = false
                            //     this.emptylist = false
                            //     // this.$router.push(this.$route.path)
                            // }
//                                when search is empty
                            else if (search.length == 0) {
                                // this.loadPost()
                                this.loadBerries();
                                ref.showsearch = 0
                                ref.RecentData = true
                                ref.staticContainer = true
                                this.empty = false
                                this.emptylist = false
                                this.$router.push(this.$route.path).catch(() => {
                                })
                            }


                        });
                    },
        </p></article>
</template> 


<script> 
            export default {
                methods: {
                    scrollToTop() {
                        window.scrollTo(0, 0);
                    }
                },
              
                
                mounted() {
                    this.scrollToTop()
                },
                created() {
                    this.scrollToTop()
                },

            }
</script>