<template>
    <div class="text-center mt-5 mb-5"> 
        <div class="search-wrapper">
            <b-input-group >
                <!-- <b-input-group-prepend is-text>
                    <b-icon-search></b-icon-search>
                </b-input-group-prepend> -->
                <b-input v-model="search" id="mySearch" type="text" class="form-control" placeholder="Search..."
                         aria-label="Search..."
                         aria-describedby="basic-addon2"
                         @keyup="searchProducts(search)">
                </b-input>

            </b-input-group>
        </div>
        <div class="text-center font-italic mt-5">   
            <div v-for="post in postList" v-bind:key="post.cat_id" class="container category-container margin-5">  
                <span v-if="post.image_url">
                    <div class="container category-container margin-5">    
                        <div class="card img-fluid"> 
                            <img class="card-img-top" :src="`${post.image_url}`"  alt="Card image"> 
                            <router-link :to="{ name: 'categories',  params: { id: post.id } }"> 
                                <div class="card-img-overlay">
                                    <h4 class="card-title">{{post.name}}</h4>  
                                </div>
                            </router-link>
                        </div>
                    </div>
                </span>
                <span v-else>
                    <div class="categorylistname">
                        <router-link :to="{ name: 'list',  params: { id: post.sharing_key } }" >
                            <b-card-header v-if="post.users" class="category-list-name text-center"  text-variant="white" :header="`${post.users.first_name}'s ${post.name}`">
                            </b-card-header>
                        </router-link>
                    </div>
                </span>
            </div>
            <b-button pill class="show-more-post" @click="ShowMorePost()" v-model="listcounts"  v-show="listcounts > 0 && showpost ==1 "> Show More </b-button>
            <b-button pill class="show-more-search" @click="ShowMoreSearch(search)" v-model="listcounts"  v-show="listcounts > 0 && showsearch == 1 "> Show More </b-button>
        </div>
        <div class="text-center font-italic mt-5 font-bold" v-show="empty"><p>No results match your search criteria.</p></div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
            import axios from 'axios'
            export default {
                data() {
                    return {
                        search: '',
                        postList: [],
                        newpostList: [],
                        listcounts: '',
                        searchshowmore: '',
                        showpost: '',
                        showsearch: '',
                        lastindex: [],
                        lastindexList: [],
                        lastindexCategory: [],
                        empty: false,
                        filterarray: [],
                        response : {
    "data": [
        {
            "list": {
                "id": 6,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et et et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": [
                    {
                        "id": 21,
                        "list_id": 6,
                        "title": "quis",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [
                            {
                                "id": 81,
                                "group_id": 21,
                                "title": "voluptas",
                                "note": "Neque blanditiis repudiandae debitis ut blanditiis.",
                                "position": 81,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 82,
                                "group_id": 21,
                                "title": "quaerat",
                                "note": "Et rerum omnis et aut eos.",
                                "position": 82,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 83,
                                "group_id": 21,
                                "title": "delectus",
                                "note": "Sequi nesciunt molestiae non delectus.",
                                "position": 83,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 84,
                                "group_id": 21,
                                "title": "optio",
                                "note": "Non est accusantium praesentium ut.",
                                "position": 84,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            }
                        ]
                    },
                    {
                        "id": 22,
                        "list_id": 6,
                        "title": "rem",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [
                            {
                                "id": 85,
                                "group_id": 22,
                                "title": "voluptates",
                                "note": "Sequi deserunt hic est quidem et inventore.",
                                "position": 85,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 86,
                                "group_id": 22,
                                "title": "quia",
                                "note": "Reiciendis pariatur voluptas sunt nostrum eum dignissimos.",
                                "position": 86,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 87,
                                "group_id": 22,
                                "title": "odio",
                                "note": "Quos impedit ratione rerum debitis quia recusandae.",
                                "position": 87,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 88,
                                "group_id": 22,
                                "title": "deleniti",
                                "note": "Consequatur facere nemo nesciunt.",
                                "position": 88,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            }
                        ]
                    },
                    {
                        "id": 23,
                        "list_id": 6,
                        "title": "aut",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [
                            {
                                "id": 89,
                                "group_id": 23,
                                "title": "voluptatem",
                                "note": "Labore et voluptatem excepturi earum ut voluptatem nemo nam.",
                                "position": 89,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 90,
                                "group_id": 23,
                                "title": "quibusdam",
                                "note": "Numquam nihil aut dignissimos est tenetur.",
                                "position": 90,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 91,
                                "group_id": 23,
                                "title": "rem",
                                "note": "Cum nisi et consequuntur.",
                                "position": 91,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 92,
                                "group_id": 23,
                                "title": "reprehenderit",
                                "note": "Minima eum culpa suscipit praesentium perferendis nostrum.",
                                "position": 92,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            }
                        ]
                    },
                    {
                        "id": 24,
                        "list_id": 6,
                        "title": "quia",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [
                            {
                                "id": 93,
                                "group_id": 24,
                                "title": "vero",
                                "note": "Consequuntur quisquam deserunt quaerat praesentium.",
                                "position": 93,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 94,
                                "group_id": 24,
                                "title": "omnis",
                                "note": "Blanditiis delectus tempore enim sed molestiae.",
                                "position": 94,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 95,
                                "group_id": 24,
                                "title": "exercitationem",
                                "note": "Ut quod magnam veritatis et iure dicta saepe.",
                                "position": 95,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 96,
                                "group_id": 24,
                                "title": "nesciunt",
                                "note": "Omnis est maiores facilis quia.",
                                "position": 96,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            }
                        ]
                    }
                ]
            },
            "keywordfound": 10
        },
        {
            "list": {
                "id": 9,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": [
                    {
                        "id": 33,
                        "list_id": 9,
                        "title": "ipsum",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [
                            {
                                "id": 129,
                                "group_id": 33,
                                "title": "eos",
                                "note": "Consectetur possimus possimus soluta modi et.",
                                "position": 129,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 130,
                                "group_id": 33,
                                "title": "officiis",
                                "note": "Eum delectus qui vel quidem ut.",
                                "position": 130,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 131,
                                "group_id": 33,
                                "title": "aliquam",
                                "note": "Cumque voluptatibus sunt recusandae necessitatibus fugit facere.",
                                "position": 131,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 132,
                                "group_id": 33,
                                "title": "dolores",
                                "note": "Eligendi sit alias placeat voluptas culpa debitis quo.",
                                "position": 132,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            }
                        ]
                    },
                    {
                        "id": 34,
                        "list_id": 9,
                        "title": "labore",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [
                            {
                                "id": 133,
                                "group_id": 34,
                                "title": "hic",
                                "note": "Sunt quas incidunt maiores ullam accusamus.",
                                "position": 133,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 134,
                                "group_id": 34,
                                "title": "officiis",
                                "note": "Laborum ut quia est iste omnis quia.",
                                "position": 134,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 135,
                                "group_id": 34,
                                "title": "placeat",
                                "note": "Sed expedita id provident quis.",
                                "position": 135,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 136,
                                "group_id": 34,
                                "title": "cumque",
                                "note": "Sapiente saepe ut voluptas sit deserunt est quis non.",
                                "position": 136,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            }
                        ]
                    },
                    {
                        "id": 35,
                        "list_id": 9,
                        "title": "non",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [
                            {
                                "id": 137,
                                "group_id": 35,
                                "title": "voluptatibus",
                                "note": "Neque corporis dolores delectus excepturi in provident officia aut.",
                                "position": 137,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 138,
                                "group_id": 35,
                                "title": "vero",
                                "note": "Quos libero sapiente velit aut vitae et.",
                                "position": 138,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 139,
                                "group_id": 35,
                                "title": "consectetur",
                                "note": "Esse nihil aut qui amet soluta voluptatibus laudantium.",
                                "position": 139,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 140,
                                "group_id": 35,
                                "title": "quia",
                                "note": "Rem adipisci ut saepe ut.",
                                "position": 140,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            }
                        ]
                    },
                    {
                        "id": 36,
                        "list_id": 9,
                        "title": "sed",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [
                            {
                                "id": 141,
                                "group_id": 36,
                                "title": "incidunt",
                                "note": "Dolor et quia libero nam provident itaque.",
                                "position": 141,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 142,
                                "group_id": 36,
                                "title": "fuga",
                                "note": "Consequuntur aut fugiat sunt quo ipsum.",
                                "position": 142,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 143,
                                "group_id": 36,
                                "title": "sapiente",
                                "note": "Voluptatibus ad ad et voluptatem dolorum incidunt.",
                                "position": 143,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 144,
                                "group_id": 36,
                                "title": "ut",
                                "note": "Ipsam soluta aut earum officia consequuntur voluptas.",
                                "position": 144,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            }
                        ]
                    }
                ]
            },
            "keywordfound": 9
        },
        {
            "list": {
                "id": 5,
                "category_id": 2,
                "owner_id": 7,
                "sharing_key": "6qXMu3UKgB",
                "name": "quos",
                "share_socially": 1,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-27 19:45:05",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Leatha",
                    "id": 7,
                    "name": "Leatha"
                },
                "category": null,
                "groups": [
                    {
                        "id": 17,
                        "list_id": 5,
                        "title": "dolor",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [
                            {
                                "id": 65,
                                "group_id": 17,
                                "title": "dolorem",
                                "note": "Itaque perspiciatis ratione est placeat.",
                                "position": 65,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 66,
                                "group_id": 17,
                                "title": "dolor",
                                "note": "Eos quo ipsum omnis architecto voluptate asperiores error voluptates.",
                                "position": 66,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 67,
                                "group_id": 17,
                                "title": "qui",
                                "note": "Nesciunt numquam repudiandae sit.",
                                "position": 67,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 68,
                                "group_id": 17,
                                "title": "sit",
                                "note": "Rerum non incidunt suscipit ut animi eius.",
                                "position": 68,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            }
                        ]
                    },
                    {
                        "id": 18,
                        "list_id": 5,
                        "title": "voluptas",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [
                            {
                                "id": 69,
                                "group_id": 18,
                                "title": "suscipit",
                                "note": "Eos beatae sint possimus numquam quia.",
                                "position": 69,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 70,
                                "group_id": 18,
                                "title": "omnis",
                                "note": "Debitis quae autem aut eius veniam voluptate ut.",
                                "position": 70,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 71,
                                "group_id": 18,
                                "title": "molestiae",
                                "note": "Et illum aut voluptas quae incidunt molestiae.",
                                "position": 71,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 72,
                                "group_id": 18,
                                "title": "vitae",
                                "note": "Qui eos debitis minima atque libero earum vel.",
                                "position": 72,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            }
                        ]
                    },
                    {
                        "id": 19,
                        "list_id": 5,
                        "title": "sit",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [
                            {
                                "id": 73,
                                "group_id": 19,
                                "title": "qui",
                                "note": "Dolores esse deleniti rerum impedit.",
                                "position": 73,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 74,
                                "group_id": 19,
                                "title": "dolorum",
                                "note": "Tempora magnam id dicta blanditiis aut adipisci.",
                                "position": 74,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 75,
                                "group_id": 19,
                                "title": "id",
                                "note": "Architecto excepturi labore facilis illum eum.",
                                "position": 75,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 76,
                                "group_id": 19,
                                "title": "fuga",
                                "note": "Labore sit voluptatem consequuntur laudantium nihil.",
                                "position": 76,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            }
                        ]
                    },
                    {
                        "id": 20,
                        "list_id": 5,
                        "title": "ut",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [
                            {
                                "id": 77,
                                "group_id": 20,
                                "title": "id",
                                "note": "Aut sed ut magni animi omnis earum.",
                                "position": 77,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 78,
                                "group_id": 20,
                                "title": "est",
                                "note": "Fugit ipsam itaque quia molestiae nam nihil.",
                                "position": 78,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 79,
                                "group_id": 20,
                                "title": "reiciendis",
                                "note": "Sunt rem cupiditate fugiat in iusto sed.",
                                "position": 79,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 80,
                                "group_id": 20,
                                "title": "vero",
                                "note": "Voluptas ut laudantium dolorem id beatae dolores omnis.",
                                "position": 80,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            }
                        ]
                    }
                ]
            },
            "keywordfound": 1
        },
        {
            "list": {
                "id": 10,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": []
            },
            "keywordfound": 1
        },
        {
            "list": {
                "id": 11,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": []
            },
            "keywordfound": 1
        },
        {
            "list": {
                "id": 13,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": []
            },
            "keywordfound": 1
        },
        {
            "image_url": "",
            "name": "test",
            "id": 9,
            "description": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimesI"
        }
    ]
},
response1: 
    {
    "data": [{
            "list": {
                "id": 6,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et et et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": [{
                        "id": 21,
                        "list_id": 6,
                        "title": "quis",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [{
                                "id": 81,
                                "group_id": 21,
                                "title": "voluptas",
                                "note": "Neque blanditiis repudiandae debitis ut blanditiis.",
                                "position": 81,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 82,
                                "group_id": 21,
                                "title": "quaerat",
                                "note": "Et rerum omnis et aut eos.",
                                "position": 82,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 83,
                                "group_id": 21,
                                "title": "delectus",
                                "note": "Sequi nesciunt molestiae non delectus.",
                                "position": 83,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 84,
                                "group_id": 21,
                                "title": "optio",
                                "note": "Non est accusantium praesentium ut.",
                                "position": 84,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            }
                        ]
                    },
                    {
                        "id": 22,
                        "list_id": 6,
                        "title": "rem",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [{
                                "id": 85,
                                "group_id": 22,
                                "title": "voluptates",
                                "note": "Sequi deserunt hic est quidem et inventore.",
                                "position": 85,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 86,
                                "group_id": 22,
                                "title": "quia",
                                "note": "Reiciendis pariatur voluptas sunt nostrum eum dignissimos.",
                                "position": 86,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 87,
                                "group_id": 22,
                                "title": "odio",
                                "note": "Quos impedit ratione rerum debitis quia recusandae.",
                                "position": 87,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 88,
                                "group_id": 22,
                                "title": "deleniti",
                                "note": "Consequatur facere nemo nesciunt.",
                                "position": 88,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            }
                        ]
                    },
                    {
                        "id": 23,
                        "list_id": 6,
                        "title": "aut",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [{
                                "id": 89,
                                "group_id": 23,
                                "title": "voluptatem",
                                "note": "Labore et voluptatem excepturi earum ut voluptatem nemo nam.",
                                "position": 89,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 90,
                                "group_id": 23,
                                "title": "quibusdam",
                                "note": "Numquam nihil aut dignissimos est tenetur.",
                                "position": 90,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 91,
                                "group_id": 23,
                                "title": "rem",
                                "note": "Cum nisi et consequuntur.",
                                "position": 91,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 92,
                                "group_id": 23,
                                "title": "reprehenderit",
                                "note": "Minima eum culpa suscipit praesentium perferendis nostrum.",
                                "position": 92,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            }
                        ]
                    },
                    {
                        "id": 24,
                        "list_id": 6,
                        "title": "quia",
                        "created_at": "2020-04-10 09:21:06",
                        "updated_at": "2020-04-10 09:21:06",
                        "cards": [{
                                "id": 93,
                                "group_id": 24,
                                "title": "vero",
                                "note": "Consequuntur quisquam deserunt quaerat praesentium.",
                                "position": 93,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 94,
                                "group_id": 24,
                                "title": "omnis",
                                "note": "Blanditiis delectus tempore enim sed molestiae.",
                                "position": 94,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 95,
                                "group_id": 24,
                                "title": "exercitationem",
                                "note": "Ut quod magnam veritatis et iure dicta saepe.",
                                "position": 95,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            },
                            {
                                "id": 96,
                                "group_id": 24,
                                "title": "nesciunt",
                                "note": "Omnis est maiores facilis quia.",
                                "position": 96,
                                "created_at": "2020-04-10 09:21:07",
                                "updated_at": "2020-04-10 09:21:07"
                            }
                        ]
                    }
                ]
            },
            "keywordfound": 10
        },
        {
            "list": {
                "id": 9,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": [{
                        "id": 33,
                        "list_id": 9,
                        "title": "ipsum",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [{
                                "id": 129,
                                "group_id": 33,
                                "title": "eos",
                                "note": "Consectetur possimus possimus soluta modi et.",
                                "position": 129,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 130,
                                "group_id": 33,
                                "title": "officiis",
                                "note": "Eum delectus qui vel quidem ut.",
                                "position": 130,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 131,
                                "group_id": 33,
                                "title": "aliquam",
                                "note": "Cumque voluptatibus sunt recusandae necessitatibus fugit facere.",
                                "position": 131,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 132,
                                "group_id": 33,
                                "title": "dolores",
                                "note": "Eligendi sit alias placeat voluptas culpa debitis quo.",
                                "position": 132,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            }
                        ]
                    },
                    {
                        "id": 34,
                        "list_id": 9,
                        "title": "labore",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [{
                                "id": 133,
                                "group_id": 34,
                                "title": "hic",
                                "note": "Sunt quas incidunt maiores ullam accusamus.",
                                "position": 133,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 134,
                                "group_id": 34,
                                "title": "officiis",
                                "note": "Laborum ut quia est iste omnis quia.",
                                "position": 134,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 135,
                                "group_id": 34,
                                "title": "placeat",
                                "note": "Sed expedita id provident quis.",
                                "position": 135,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            },
                            {
                                "id": 136,
                                "group_id": 34,
                                "title": "cumque",
                                "note": "Sapiente saepe ut voluptas sit deserunt est quis non.",
                                "position": 136,
                                "created_at": "2020-04-10 09:21:10",
                                "updated_at": "2020-04-10 09:21:10"
                            }
                        ]
                    },
                    {
                        "id": 35,
                        "list_id": 9,
                        "title": "non",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [{
                                "id": 137,
                                "group_id": 35,
                                "title": "voluptatibus",
                                "note": "Neque corporis dolores delectus excepturi in provident officia aut.",
                                "position": 137,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 138,
                                "group_id": 35,
                                "title": "vero",
                                "note": "Quos libero sapiente velit aut vitae et.",
                                "position": 138,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 139,
                                "group_id": 35,
                                "title": "consectetur",
                                "note": "Esse nihil aut qui amet soluta voluptatibus laudantium.",
                                "position": 139,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 140,
                                "group_id": 35,
                                "title": "quia",
                                "note": "Rem adipisci ut saepe ut.",
                                "position": 140,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            }
                        ]
                    },
                    {
                        "id": 36,
                        "list_id": 9,
                        "title": "sed",
                        "created_at": "2020-04-10 09:21:10",
                        "updated_at": "2020-04-10 09:21:10",
                        "cards": [{
                                "id": 141,
                                "group_id": 36,
                                "title": "incidunt",
                                "note": "Dolor et quia libero nam provident itaque.",
                                "position": 141,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 142,
                                "group_id": 36,
                                "title": "fuga",
                                "note": "Consequuntur aut fugiat sunt quo ipsum.",
                                "position": 142,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 143,
                                "group_id": 36,
                                "title": "sapiente",
                                "note": "Voluptatibus ad ad et voluptatem dolorum incidunt.",
                                "position": 143,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            },
                            {
                                "id": 144,
                                "group_id": 36,
                                "title": "ut",
                                "note": "Ipsam soluta aut earum officia consequuntur voluptas.",
                                "position": 144,
                                "created_at": "2020-04-10 09:21:11",
                                "updated_at": "2020-04-10 09:21:11"
                            }
                        ]
                    }
                ]
            },
            "keywordfound": 9
        },
        {
            "list": {
                "id": 5,
                "category_id": 2,
                "owner_id": 7,
                "sharing_key": "6qXMu3UKgB",
                "name": "quos",
                "share_socially": 1,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-27 19:45:05",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Leatha",
                    "id": 7,
                    "name": "Leatha"
                },
                "category": null,
                "groups": [{
                        "id": 17,
                        "list_id": 5,
                        "title": "dolor",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [{
                                "id": 65,
                                "group_id": 17,
                                "title": "dolorem",
                                "note": "Itaque perspiciatis ratione est placeat.",
                                "position": 65,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 66,
                                "group_id": 17,
                                "title": "dolor",
                                "note": "Eos quo ipsum omnis architecto voluptate asperiores error voluptates.",
                                "position": 66,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 67,
                                "group_id": 17,
                                "title": "qui",
                                "note": "Nesciunt numquam repudiandae sit.",
                                "position": 67,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 68,
                                "group_id": 17,
                                "title": "sit",
                                "note": "Rerum non incidunt suscipit ut animi eius.",
                                "position": 68,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            }
                        ]
                    },
                    {
                        "id": 18,
                        "list_id": 5,
                        "title": "voluptas",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [{
                                "id": 69,
                                "group_id": 18,
                                "title": "suscipit",
                                "note": "Eos beatae sint possimus numquam quia.",
                                "position": 69,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 70,
                                "group_id": 18,
                                "title": "omnis",
                                "note": "Debitis quae autem aut eius veniam voluptate ut.",
                                "position": 70,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 71,
                                "group_id": 18,
                                "title": "molestiae",
                                "note": "Et illum aut voluptas quae incidunt molestiae.",
                                "position": 71,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 72,
                                "group_id": 18,
                                "title": "vitae",
                                "note": "Qui eos debitis minima atque libero earum vel.",
                                "position": 72,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            }
                        ]
                    },
                    {
                        "id": 19,
                        "list_id": 5,
                        "title": "sit",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [{
                                "id": 73,
                                "group_id": 19,
                                "title": "qui",
                                "note": "Dolores esse deleniti rerum impedit.",
                                "position": 73,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 74,
                                "group_id": 19,
                                "title": "dolorum",
                                "note": "Tempora magnam id dicta blanditiis aut adipisci.",
                                "position": 74,
                                "created_at": "2020-04-10 09:21:05",
                                "updated_at": "2020-04-10 09:21:05"
                            },
                            {
                                "id": 75,
                                "group_id": 19,
                                "title": "id",
                                "note": "Architecto excepturi labore facilis illum eum.",
                                "position": 75,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 76,
                                "group_id": 19,
                                "title": "fuga",
                                "note": "Labore sit voluptatem consequuntur laudantium nihil.",
                                "position": 76,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            }
                        ]
                    },
                    {
                        "id": 20,
                        "list_id": 5,
                        "title": "ut",
                        "created_at": "2020-04-10 09:21:05",
                        "updated_at": "2020-04-10 09:21:05",
                        "cards": [{
                                "id": 77,
                                "group_id": 20,
                                "title": "id",
                                "note": "Aut sed ut magni animi omnis earum.",
                                "position": 77,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 78,
                                "group_id": 20,
                                "title": "est",
                                "note": "Fugit ipsam itaque quia molestiae nam nihil.",
                                "position": 78,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 79,
                                "group_id": 20,
                                "title": "reiciendis",
                                "note": "Sunt rem cupiditate fugiat in iusto sed.",
                                "position": 79,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            },
                            {
                                "id": 80,
                                "group_id": 20,
                                "title": "vero",
                                "note": "Voluptas ut laudantium dolorem id beatae dolores omnis.",
                                "position": 80,
                                "created_at": "2020-04-10 09:21:06",
                                "updated_at": "2020-04-10 09:21:06"
                            }
                        ]
                    }
                ]
            },
            "keywordfound": 1
        },
        {
            "list": {
                "id": 10,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": []
            },
            "keywordfound": 1
        },
        {
            "list": {
                "id": 11,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": []
            },
            "keywordfound": 1
        },
        {
            "list": {
                "id": 13,
                "category_id": 2,
                "owner_id": 8,
                "sharing_key": null,
                "name": "et",
                "share_socially": 0,
                "status": 1,
                "show_default": 1,
                "created_at": "2020-04-10 09:21:03",
                "updated_at": "2020-04-10 09:21:03",
                "is_read_only": false,
                "is_share": false,
                "users": {
                    "first_name": "Lane",
                    "id": 8,
                    "name": "Lane"
                },
                "category": null,
                "groups": []
            },
            "keywordfound": 1
        },
        {
            "image_url": "http://127.0.0.1:8000/storage/images/1586782195.images.jpeg",
            "name": "test",
            "id": 9,
            "description": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimesI"
        }
    ]

}
                    }
                },
                props: ['search1'],
                name: 'Home',
                computed:
                        {
                            ...mapGetters('auth', ['loggedIn', 'user']),
                            filteredList() {
                                const filterValue = this.search.toLowerCase()
                                return this.postList.filter(post => {
                                    return (post.name.toLowerCase().includes(filterValue))
                                })
                            },
                        },
                methods: {
                    scrolltoview() {
                        // this.scrollIntoView(top);
                        alert(document.documentElement.clientHeight)
                        var clientheight = document.documentElement.clientHeight
                        alert(clientheight)
                        window.scrollBy(0, clientheight)
                    },
                    loadPost() {
                        let ref = this;
                        axios.post('/search')
                                .then((res) => {
                                    var newdata = res.data.data
                                    var listcount = res.data.count
                                    ref.listcounts = listcount - newdata.length
                                    ref.postList = (newdata);
                                    ref.showpost = 1
                                    console.log(ref.listcounts, 'pending left')
                                    for (let i = ref.postList.length - 1; i > 0; i--) {
                                        let randomIndex = Math.floor(Math.random() * i);
                                        let temp = ref.postList[i];
                                        ref.postList[i] = ref.postList[randomIndex];
                                        ref.postList[randomIndex] = temp;
                                    }
                                })
                    },
                    ShowMorePost() {
                        let ref = this;
                        console.log(ref.postList, 'filter');
                        // id of all data in array
                        for (let i = 0; i <= ref.postList.length - 1; i++) {
                            if (ref.postList[i].image_url) {
                                ref.lastindexCategory[i] = ref.postList[i].id
                            } else {
                                ref.lastindexList[i] = ref.postList[i].id
                            }
                        }
                        var indexOfList = ref.lastindexList;
                        var indexOfCategory = ref.lastindexCategory;

                        axios.post('/search', {indexOfList, indexOfCategory})
                                .then((res) => {
                                    var newdata = res.data.data
                                    ref.newpostList = (newdata);
                                    if (ref.showpost == 1) {
                                        // shuffle post on next pages
                                        for (let i = ref.newpostList.length - 1; i > 0; i--) {
                                            let randomIndex = Math.floor(Math.random() * i);
                                            let temp = ref.newpostList[i];
                                            ref.newpostList[i] = ref.newpostList[randomIndex];
                                            ref.newpostList[randomIndex] = temp;
                                        }
                                    }
                                    var addData = ref.newpostList
                                    ref.postList.push(...addData)
                                    ref.listcounts = ref.listcounts - newdata.length
                                    console.log(ref.listcounts, 'pending left')
                                })
                        window.setTimeout(function () {
                            window.scrollBy({
                                top: ((document.documentElement.clientHeight) - 130),
                                behavior: 'smooth'
                            })
                        }, 1000);

                    },
                    searchProducts(search) {
                        let ref = this;
                        this.$nextTick(() => {
                            if (search.length > 2) {
                              console.log('searchword')
                                axios.post(`/TestingSearch`, {search})
                                        .then(res => {
                                            var newdata = res.data.data

                                            console.log(newdata, 'searchproducts')
                                            if(newdata == ''){
                                              ref.postList = ''
                                            }else{

                                              for (let i = 0; i <= newdata.length - 1; i++) {
                                                if(newdata[i].list){
                                                  ref.filterarray[i] = newdata[i].list
                                                 console.log('list------>>>>')
                                               }
                                               else{
                                                 ref.filterarray[i] = newdata[i].category
                                                 console.log('category------>>>>')
                                               }
                        }
                        console.log(ref.filterarray,'refpostlist')
                        ref.postList = ref.filterarray
                                            }





                                            // var listcount = res.data.count
                                            // ref.listcounts = listcount - newdata.length
                                            // ref.postList = (newdata);
                                            if (ref.postList == '') {
                                                this.empty = true
                                            } else {
                                                this.empty = false
                                            }
                                            ref.showpost = 0
                                            ref.showsearch = 1
                                            // console.log(ref.listcounts, 'pending search')
                                            
                                        }).catch(err => {
                                    console.log(err)
                                })
                            } else if (search.length == 0) {
                                this.loadPost()
                                ref.showsearch = 0
                                this.empty = false
                            }

                        });

                    },
                    ShowMoreSearch(search) {
                        let ref = this;
                        var searchstring = ref.searchshowmore = 1
                        ref.showpost = 0;
                        // id of all data in array
                        for (let i = 0; i <= ref.postList.length - 1; i++) {
                            ref.lastindex[i] = ref.postList[i].id
                        }
                        var indexOfAll = ref.lastindex

                        axios.post('/search', {search, searchstring, indexOfAll})
                                .then((res) => {
                                    var newdata = res.data.data
                                    ref.newpostList = (newdata);
                                    var addData = ref.newpostList
                                    ref.postList.push(...addData)
                                    ref.listcounts = ref.listcounts - newdata.length
                                    console.log(ref.listcounts, 'pending left')
                                })
                        window.setTimeout(function () {
                            window.scrollBy({
                                top: ((document.documentElement.clientHeight) - 130),
                                behavior: 'smooth'
                            })
                        }, 1000);

                    },
                    staticresponse(){
                                               let ref = this;
                        axios.post('/TestingSearch')
                                .then((res) => {
                                    var newdata = res.data.data
                                    var listcount = res.data.count
                                    ref.listcounts = listcount - newdata.length
                                    ref.postList = (newdata);
                                    ref.showpost = 1
                                    // console.log(ref.listcounts, 'pending left')
                                    // for (let i = ref.postList.length - 1; i > 0; i--) {
                                    //     let randomIndex = Math.floor(Math.random() * i);
                                    //     let temp = ref.postList[i];
                                    //     ref.postList[i] = ref.postList[randomIndex];
                                    //     ref.postList[randomIndex] = temp;
                                    // }
                                })
                    }

                },

                created() {
                    // this.loadPost()
                    this.staticresponse()
                    var querysearch = this.$route.params.search1

                    if (querysearch != '' && typeof querysearch !== 'undefined') {
                        this.search = querysearch
                        window.setTimeout(function () {
                            document.getElementById('mySearch').focus();
                        }, 0);
                    }
                },

            }
</script>