<template> 
    <!-- Comment component -->
    <div>
        <span v-if="loggedIn">
            <span v-if="(UserId==comment.user_id && (comment.status==0 || comment.status==1 ||comment.status==2)&& (UserId!=Ownerid)||comment.status==1) ">
                <li transition="slide" :comment="comment.id">
                    <div class="profile"></div>
                    <div class="msg"> 
                        <div class="msg-body">  
                            <p class="name">{{ comment.user.name }}<span class="date">{{ comment.created_at  |  moment("calendar") }} UTC</span></p>
                            <p v-html="comment.message"></p>
                            <p v-show="UserId==comment.user_id && comment.status==0 && UserId!=Ownerid"> Your comment is not approved yet!</p>
                            <!-- Admin permission -->
                            <span v-if="comment.comment_updated_by && UserId!=Ownerid && comment.comment_updated_by.id != Ownerid">
                                <p v-show="UserId==comment.user_id && comment.status==1 && UserId!=Ownerid && comment.comment_updated_by.first_name"> Your comment is approved by {{comment.comment_updated_by.first_name}}. </p>
                                <p v-show="UserId==comment.user_id && comment.status==2 && UserId!=Ownerid && comment.comment_updated_by.first_name"> Your comment is rejected by {{comment.comment_updated_by.first_name}}. </p>
                            </span> 
                            <span v-else-if="comment.comment_updated_by && UserId==Ownerid && comment.comment_updated_by.id != Ownerid">
                                <template v-if="UserId!=comment.user_id">
                                <p v-show="UserId!=comment.user_id && comment.status==1 && UserId==Ownerid && comment.comment_updated_by.first_name"> This comment is approved by {{comment.comment_updated_by.first_name}}. </p>
                                <p v-show="UserId!=comment.user_id && comment.status==2 && UserId==Ownerid && comment.comment_updated_by.first_name"> This comment is rejected by {{comment.comment_updated_by.first_name}}. </p>
                                </template>
                                 <template v-else>
                                <p v-show="UserId==comment.user_id && comment.status==1 && UserId==Ownerid && comment.comment_updated_by.first_name"> Your comment is approved by {{comment.comment_updated_by.first_name}}. </p>
                                <p v-show="UserId==comment.user_id && comment.status==2 && UserId==Ownerid && comment.comment_updated_by.first_name"> Your comment is rejected by {{comment.comment_updated_by.first_name}}. </p>
                                 </template>
                            </span>
                            <!-- Owner Permission -->  
                            <span v-else-if="comment.comment_updated_by && UserId!=Ownerid && comment.comment_updated_by.id== Ownerid">
                                <p v-show="UserId==comment.user_id && comment.status==1 && UserId!=Ownerid && comment.comment_updated_by.first_name"> Your comment is approved by List Owner. </p>
                                <p v-show="UserId==comment.user_id && comment.status==2 && UserId!=Ownerid && comment.comment_updated_by.first_name"> Your comment is rejected by List Owner. </p>
                            </span>
                            <!-- By himself -->
                            <span v-else-if=" comment.comment_updated_by && UserId==Ownerid ">
                                <p v-show="UserId==Ownerid && comment.status==2"> This comment is rejected by you.</p>
                                <p v-show="UserId==Ownerid && comment.status==1"> This comment is approved by you.</p>
                            </span>
                            <span v-else> 
                            </span>
                            <button v-show="UserId==comment.user_id && UserId!=Ownerid" v-b-tooltip.hover title="Delete" @click="deleteComment(comment.id)" :comment="comment.id"> <b-icon-trash></b-icon-trash></button>
                            <div class="permission">
                                <button v-show="UserId==Ownerid"  v-b-tooltip.hover title="Approve" @click="tickComment(comment.id)" :comment="comment.id"> <b-icon-check></b-icon-check></button>
                                <button v-show="UserId==Ownerid"  v-b-tooltip.hover title="Reject" @click="crossPermission(comment.id)" :comment="comment.id"> <b-icon-x></b-icon-x></button>
                                <button v-show="UserId==Ownerid"  v-b-tooltip.hover title="Delete" @click="deleteComment(comment.id)" :comment="comment.id"> <b-icon-trash></b-icon-trash></button>
                            </div>  
                        </div>  
                    </div></li>  
            </span>
            <span v-else-if="UserId==Ownerid">
                <li transition="slide" :comment="comment.id">
                    <div class="profile"></div>
                    <div class="msg"> 
                        <div class="msg-body"> 
                            <p class="name">{{ comment.user.name }}<span class="date">{{ comment.created_at  |  moment("calendar") }} UTC</span></p>
                            <p v-html="comment.message"></p>

                            <p v-show="UserId==comment.user_id && comment.status==0 && UserId!=Ownerid"> Your comment is not approved yet! </p>
                            <!-- Owner Permission -->
                            <span v-if="comment.comment_updated_by && UserId!=Ownerid">
                                <p v-show="UserId==comment.user_id && comment.status==1 && UserId!=Ownerid && comment.comment_updated_by.first_name"> Your comment is approved by {{comment.comment_updated_by.first_name}}. </p>
                                <p v-show="UserId==comment.user_id && comment.status==2 && UserId!=Ownerid && comment.comment_updated_by.first_name"> Your comment is rejected by {{comment.comment_updated_by.first_name}}. </p>
                            </span>
                            <!-- Admin permission -->
                            <span v-else-if="comment.comment_updated_by && UserId == Ownerid && comment.comment_updated_by.id!= Ownerid">
                                <p v-show="UserId==Ownerid && comment.status==2"> This comment is rejected by {{comment.comment_updated_by.first_name}}.</p>
                                <p v-show="UserId==Ownerid && comment.status==1"> This comment is approved by {{comment.comment_updated_by.first_name}}.</p>
                            </span>
                            <!-- By himself -->
                            <span v-else>  
                                <p v-show="UserId==Ownerid && comment.status==2"> This comment is rejected by you.</p>
                                <p v-show="UserId==Ownerid && comment.status==1"> This comment is approved by you.</p>
                            </span>

                            <button v-show="UserId==comment.user_id && UserId!=Ownerid" v-b-tooltip.hover title="Delete" @click="deleteComment(comment.id)" :comment="comment.id"> <b-icon-trash></b-icon-trash></button>
                            <div class="permission">
                                <button v-show="UserId==Ownerid"  v-b-tooltip.hover title="Approve" @click="tickComment(comment.id)" :comment="comment.id"> <b-icon-check></b-icon-check></button>
                                <button v-show="UserId==Ownerid"  v-b-tooltip.hover title="Reject" @click="crossPermission(comment.id)" :comment="comment.id"> <b-icon-x></b-icon-x></button>
                                <button v-show="UserId==Ownerid"  v-b-tooltip.hover title="Delete" @click="deleteComment(comment.id)" :comment="comment.id"> <b-icon-trash></b-icon-trash></button>
                            </div>  
                        </div> 
                    </div> 
                </li>  
            </span>
        </span>
        <span v-else-if="!loggedIn">
            <span v-if="comment.status==1">
                <li transition="slide" :comment="comment.id">
                    <div class="profile"></div>
                    <div class="msg"> 
                        <div class="msg-body">  
                            <p class="name">{{ comment.user.name }}<span class="date">{{ comment.created_at |  moment("calendar") }} UTC</span></p>
                            <p v-html="comment.message"></p>  
                        </div> 
                    </div> 
                </li>  
            </span>
        </span>

    </div>


</template>

<script>
    import axios from 'axios'
            import { mapActions, mapGetters } from 'vuex'
            export default {
                props: ['comment'],
                data() {
                    return {
                        items: []
                    }
                },
                computed: {
                    ...mapGetters('list', ['currentList'], ['commentList'], 'auth', ['loggedIn', 'user']),
                    Ownerid() {
                        return this.currentList.owner_id
                    },
                    loggedIn() {
                        let loggedIn = !!localStorage.getItem('user')
                        return loggedIn
                    },
                    UserId() {
                        var user = JSON.parse(localStorage.getItem('user'));
                        return  user.user.id
                    }
                },
                methods: {
                    ...mapActions('list', ['loadLists', 'addList', 'createList', 'updateList', 'deleteList']),
                    // approve comment
                    tickComment(comment) {
                        if (confirm("Are you sure to approve this comment?")) {

                            axios.post(`comments/changeStatus`, {
                                id: comment,
                                status: 1
                            }
                            ).then(() => {
                                this.$emit('getList');
                            })
                        }
                    },
                    //reject comment
                    crossPermission(comment) {
                        if (confirm("Are you sure to reject this comment?")) {

                            axios.post(`comments/changeStatus`, {
                                id: comment,
                                status: 2
                            }
                            ).then(() => {
                                this.$emit('getList');
                            })
                        }
                    },
                    // delete comment
                    deleteComment(commentid) {
                        let ref = this;
                        if (confirm("Are you sure to delete this comment?")) {

                            axios.delete(`comments/${commentid}`).then(() => {
                                ref.$emit('getList');
                            })
                        }
                    },
                }
            }
</script>