<template> 
    <!-- Comment Form component --> 
    <div class="comment-box" id="comment">
        <div class="loader" v-show="loading" >
            <span class="spinner"></span>       
        </div>

        <form action="" method="post" @submit.prevent="submit()">
            <b-form-textarea v-model="data.message" class="input-message"  name="message" id="message" rows="3" placeholder="Your comment..." required></b-form-textarea>
            <input type="hidden" :CLidonSave="CLidonSave" v-model="data.CLidonSave" />
            <input :disabled="loading" type="submit" value="Comment"  >
            <input type="reset" value="RESET" />
        </form>  
    </div>
</template>

<script>
    import {  mapGetters, mapActions } from 'vuex'
            import axios from 'axios'
            export default {
                data() {
                    return {
                        name: 'Comment',
                        loading: false,
                        data: []
                    }
                },

                methods: {
                    ...mapActions('list', ['saveComments', 'loadLists', 'addList', 'createList', 'updateList', 'deleteList']),

                    submit() {
                        let ref = this;
                        var user = JSON.parse(localStorage.getItem('user'));
                        let UserId = user.user.id
                        axios.post(`comments?message=${ref.data.message}&list_id=${ref.currentList.id}&user_id=${UserId}`).then(() => {
                            ref.loading = true;
                            ref.$emit('onCommented');
                            ref.data.message = '';
                            ref.loading = false;
                        })
                    },
                },
                mounted() {
                },
                computed: {
                    ...mapGetters('list', ['currentList'], ['lists'], 'auth', ['loggedIn', 'user']),

                    CLidonSave() {
                        return this.currentList.id
                    },
                },

            }
</script>