<template>
  <div class="mb-3">
    <b-navbar toggleable="lg" type="dark">
      <b-navbar-brand @click="emptysearchbar()" :to="{ name: 'home' }"
        >Pokémon Berries</b-navbar-brand
      >
      <b-navbar-nav
        style="width: 51%"
        class="col-md-6 d-md-block d-lg-none d-sm-block"
      >
        <NavSearchBar />
      </b-navbar-nav>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <div class="col-md-3 list-wrapper link1">
          <!-- <b-navbar-nav v-if="loggedIn">
                    <b-nav-item :to="{ name: 'lists' }">Lists</b-nav-item>
                </b-navbar-nav> -->
        </div>
        <b-navbar-nav
          class="col-md-5 d-sm-none d-md-none d-xs-none d-none d-lg-block"
        >
          <NavSearchBar  />
        </b-navbar-nav>
        <div class="col-md-4 login-wrapper link1" >
          <b-navbar-nav class="ml-auto" v-if="loggedIn">
            <!-- <b-nav-item @click="logout">Logout</b-nav-item> -->
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto column_box" v-else>
      
           
            <!-- <b-nav-item :to="{ name: 'register' }"><b-button class="navbar-button">Sign Up</b-button></b-nav-item>
                    <b-nav-item :to="{ name: 'login' }"> <b-button class="navbar-button">Sign In</b-button></b-nav-item> -->
          </b-navbar-nav>
        </div>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import NavSearchBar from "@/components/NavSearchBar";
import { bus } from "../main.js";

export default {
  methods: {
    ...mapActions("auth", ["logout"]),
    emptysearchbar() {
      bus.$emit("emptysearchbar");
    },
  },
  computed: mapGetters("auth", ["loggedIn"]),
  components: { NavSearchBar },
};
</script>
