<template> 
    <div class="footer mt-3 text-center">
           <div class="container">
               <div class="columns">
                   <div class="row">
                   <div class="column col-lg-6 col-md-12 col-sm-12">
                        <b-link :to="{ name: 'termsofservice'}">Terms of Service</b-link> 
                   </div>
                   <div class="column col-lg-6 col-md-12 col-sm-12">
                      <b-link :to="{ name: 'privacypolicy'}">Privacy Policy</b-link>
                   </div>
                   </div>
                   <div class="row">
                   <div class="column col-lg-6 col-md-12 col-sm-12">
                       <b-link :to="{ name: 'imprint'}">Impressum</b-link>
                   </div>
                   <div class="column col-lg-6 col-md-12 col-sm-12">
                       <b-link :to="{ name: 'about'}">About</b-link>
                   </div>
                   </div>
                   <div class="row">
                   <div class="column col-lg-6 col-md-12 col-sm-12">
                    
                      <b-link :to="{ name: 'contact'}">Contact</b-link>
                   </div>
                   <div class="column col-lg-6 col-md-12 col-sm-12">
                   </div>
                   </div>
               </div>
           </div>
           <!-- Implemented cookie consent -->
           <!-- theme: base, blood-orange, dark-lime, royal -->
           <cookie-law theme="dark-lime"></cookie-law>
    </div>
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'
    import CookieLaw from 'vue-cookie-law' 

            export default {
                components: { CookieLaw },
                methods: {
                    ...mapActions('auth', ['logout']),
                    
                },
                computed: mapGetters('auth', ['loggedIn']),
            }
</script>
