@import '~bootstrap';
@import '~bootstrap-vue';
@import url('https://fonts.googleapis.com/css?family=Roboto');  

html, body {
    font-family: 'Roboto', sans-serif; 
}

#app { 
    font-family: 'Roboto', sans-serif;
}

.form-control:disabled, .form-control[readonly] {    
    background-color: #fff;    
}
//categorieslist
.categorieslist{  
    width: 47%;      
    display: inline-block;  
    margin: 5px 5px;
}
.listname{
    width: 43%; 
    display: inline-block;
    margin: 5px 5px;
}

.save-cancel{
    width: 10%;
    display: inline-block;
    margin: 5px 5px;
}
.margin-5{
    margin: 5px 5px;
}
.margin-right-5{
    margin-right: 5px
}
.padding-left-26{
    padding-left: 27px;
}
.list-name{
    display: flex;
    p{
        margin-bottom: 0px;
    }
}
.category-name{
    display: flex;
}
.edit-delete-container{
    display: flex;
    margin-left: 5px;
    .flag-fill{
        margin-right: 10px;
        font-size: 14px; 
        padding: 5px 5px;
    }
}
.share-buttons .share-icons .flag-fill , .mobile-share .share-icons .flag-fill{
    margin-right: 10px; 
    font-size: 14px; 
    padding: 5px 5px;
}

.StatusDisableButton{
    color: #fff;
    background-color: transparent! important;
    border-color: transparent! important;
    box-shadow: 0 0 0 0.2rem transparent! important;
    :focus, :hover{
        color: #fff;
        background-color: transparent! important;
        border-color: transparent! important;
        box-shadow: 0 0 0 0.2rem transparent! important;
    }
}




.brand h3 {
    color: #47b784;
    font-size: 2em
}

.brand h3 span {
    color: #36495d
}

.btn-primary {
    box-shadow: 2px 2px 2px #d2d2d2;
    background-color: #6f8aa7;
    padding: .5em 2em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: all .3s ease
}

.btn-primary:hover {
    background-color: #47b784
}

.comment-list {
    padding: 1em 0
}

.comment-list ul {
    margin: 0;
    padding: 1em
}

.comment-list li {
    list-style: none;
    text-align: left;
    overflow: hidden;
    margin-bottom: 2em;
    padding: .4em
}

.comment-list .profile {
    width: 80px;
    float: left
}

.comment-list .profile img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 48px;
    height: 48px;
    background-color: #ddd;
    box-shadow: 0 0 5px #ddd
}

.comment-list .msg {
    // width: 86%;
    width: 100%;
    float: left;
    background-color: #fff;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .05);
    position: relative
}

.comment-list .msg-body {
    padding: .8em;
    color: #666;
    line-height: 1.5
}


.comment-list .msg-body:after {
    content: " ";
    position: absolute;
    left: -13px;
    top: 0;
    border: 14px solid;
    border-color: #fff transparent transparent
}

.comment-list .name {
    margin: 0;
    color: #999;
    font-weight: 700;
    font-size: .8em
}

.comment-list .date {
    float: right
}

@media(max-width:1200px) {
    #app,
    .comment-list .msg {
        // width: 80%
        width: 100%;
    }
}

@media(max-width:600px) {
    #app {
        width: 95%;
        margin: 2rem auto
    }
    .brand img {
        width: 80px
    }
    .brand h3 {
        font-size: 1.6em
    }
    .comment-list .msg {
        // width: 70%
        width: 100%;
    }
}

.spinner {
    width: 20px;
    height: 20px;
    background-color: #47b784;
    display: inline-block;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    to {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        background-color: #47b784
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        background-color: #36495d
    }
    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        background-color: #47b784
    }
}
// comment-box
.comment-box {
    background-color: #fff;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) 
}

.comment-box form {
    padding: 1rem
}
.comment-box input{
    margin:10px 10px;   
}
.comment-box input,
.comment-box textarea {
    font-size: .8em;
    width: 97.3%;
    padding: .6em;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    display: block;
    margin-bottom: 1em;
    font-family: Raleway, sans-serif;
    transition: all .3s ease
}

.comment-box input:focus,
.comment-box textarea:focus {
    border-color: #47b784;
    outline: none;
    box-shadow: inset 0 0 3px #ddd
}

.comment-box input[type=submit] {
    margin-bottom: 0;
    width: 30%;
    background-color: #47b784;
    color: #fff;
    border-color: #47b784;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
.comment-box input[type=reset]{
    width: 30%;
    display: inline-block;
}
.comment-box input[type=submit]:focus {
    background-color: #36495d
}

.comment-box input[type=submit]:disabled {
    opacity: .6
}

#comment {
    position: relative;
    margin-bottom:78px;
}

#comment .spinner {
    margin-top: 5em;
    z-index: 999
}

#comment .loader {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, .8);
    z-index: 2
}

.signupbutton{
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    font-weight: 900;
    font-style: normal;
    border-radius: 0.50rem;
}
.category-container{
    margin:25px 0px;
    a{ 
        color:#007bff;
        cursor: pointer;
        vertical-align: middle; 
    }
    a:hover{
        text-decoration: none;
    }
    .card{
        margin-bottom: 20px; 
        border:none;
        .card-img-overlay{
            width: 80%;
            margin: 0 auto;
            max-height: 300px;
            max-width: 300px;
        }
        img{
            width: 80%;
            min-width: 200px;
            min-height: 200px;
            margin: 0 auto;
        }
        .card-title {
            text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
            margin-bottom: 0.75rem;
            color: #ffffff;
            font-weight: 800;
            font-style: normal;
            font-size: xx-large;
            margin-top: .75rem;
        }
    }
    .card-img-top {
        // border-top-left-radius: calc(1rem - 1px);
        // border-top-right-radius: calc(1rem - 1px);
        // border-bottom-left-radius: calc(1rem - 1px);
        // border-bottom-right-radius: calc(1rem - 1px);
    }
}
.textareashowhide{
    overflow-y: hidden;
    line-height: 1.5;
    // height: calc(10.5em + 0.5rem + 0px) !important;

}
.domainlinkdiv{
    font-size: 0.875rem
}
.modal-dialog {
    .modal-footer{
        .btn-primary{
            padding: 0.375rem 0.75rem;
        }
    }
}
.float-img{
    float:left; margin-right:10px; margin-bottom:6px; border: 1px solid black; padding:2px;
}
.popup-img{
    margin:5px 5px;
    width: 128px;
    height: auto;
}
.popup-img-small{
    margin:5px 5px;
    width: 42px;
    height: auto;

}
.reduce-title-width{
    margin-right: 5px; 
}
.red-validation{
    color:red;
    margin: 5px 5px;
}
.border-none{
    border: 1px solid #ffffff; 
}
.border-dark{
    border: 1px solid #343a40
}
.font-bold{
    font-weight: 800;
}

 // Category Page
 .category_gradient1{
     .category-container{
         .signup{
             span{
                 display: none; 
             }
         }
     }
 }
// Catgeory Page

.category-list-name{
    background-color:#afdaed ;
    border-color: #afdaed;
    border-radius: 0.5rem;
    font-style: normal;
    font-size: larger;
    border-bottom:none;
    text-transform: capitalize;
    /*margin: 25px auto;*/



}
.categorylistname {
    .category-list-name{
        width: 92%;
        margin: 15px auto;
        display: inline-block;
    }
    .category-list-name-new{
        width: 100%;
        display: inline-block;
    }
    .duplicate{
        width: 8%; height:27px; 
        margin:auto;vertical-align: middle; 
        display: inline-block; 
        .duplicate-icon{
            width: 25px;
            height: 27px;
            display: inline-block;
            background-image: url(../assets/images/icon_1.png);
            background-size: 25px 27px; 
            background-repeat: no-repeat;  
            img{
                width: 100%;
                height: 100%;
            }
        }

        a{display:block;}

    }
    .main_content{ margin-bottom:25px;}
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}


@media(max-width:320px) { 
    .static-container .static-container-list .static-container-list-name{
        width: 84%! important;
    }
    .list-name{
        display: inline-block;
    }
    .category-name{
        display: inline-block;
    }
    .share-buttons{
        /*width: 38%! important;*/
    }
}
@media(max-width:567px) {
    .share-buttons .label{
        float: right;    
        text-align: right;  
        .share-icons{
            display: inline-block;
        }
    }
    .share-buttons button ,.share-buttons  .btn-group{
        border-color: #d2d2d2;
        float: right;
        font-size: 13px;
    }
    .share-buttons{
        /*width: 30%;*/
    }
}
@media(max-width:767px) {
    .share-buttons button, .share-buttons .label, .share-buttons  .btn-group{
        vertical-align: text-bottom;
        border-color: #d2d2d2;
    }
    .share-buttons button, .share-buttons  .btn-group{
        float: right;
        font-size: 13px;
    }
    .share-buttons{
        /*width: 40%;*/
    }
    .share-buttons .label{

        width: 100%;
        display: block;
        .share-icons{
            display: inline-block;
        }
    }
    .share-icon-mobile{
        display: block! important;
    }
    .share-icon-web{
        display: none! important;
    }
}
.share-icon-mobile{
    display: none;
}
.share-icon-web{
    display: block;
}
@media(min-width:768px){
    .listname{
        width: 37%;
    }
    .share-buttons{
        text-align: right;
        /*width: 50%;*/
        .label{
            display: inline-block;
        }
    }
}
.static-container{
    h6{
        color: #2a2c5d;
        margin: 15px auto;
        width: 55%;
    }
    .static-container-list{
        list-style-type:none;
        margin: 15px auto;

        .card-body{
            margin:0 0 ;
            padding: 0 0;
            .static-icon{
                max-height:64px;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
        .static-container-list-name{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2.5px;
            width: 86%;
            border-radius: 5px 5px 5px 5px;

            // padding-top: 17px;
            // padding-bottom: 17px;
        }
    }
}
// .post-contain{
.post-container{
    list-style-type:none;
    .post-container-list{
        a{
            .post-container-list-name{
                .card-header{
                    padding: 0 0;
                    margin: 0 0;
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }
        }
    }
    .post-container-category{
        .same_firmness_section{
            display: inline-flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .main_content{
                width: 25%;
                .content-upper-text{
                    text-align: center;
                }
            }
        }
        .categorylistname{
            // width: 66%;
            text-align: left;
            a{
                .post-container-list-name{
                    .title{
                        width: 60%;
                        display: inline-block;
                        font-size: 12px;
                        font-weight: 600;
                        margin: auto;
                        font-family: Poppins Regular;
                        .font-weight-500{
                            font-weight: 500;
                        }
                        .post-title{
                            letter-spacing: 2.5px;
                            padding: 0 0;
                            margin: 0 0;
                            // margin-bottom: 0;
                            text-transform: uppercase;
                            

                        }
                    }
                    .img{
                        display: inline-block;
                        width: 10%;
                        // width: 25%;
                        height: 20%;
                        margin: auto;
                        padding-left: 20px;
                        img{
                            min-width: 100%;
                            min-height: 64px;
                            max-height: 64px;
                        }
                    }
                    .icon{
                        display: inline-block;
                        width: 15%;
                        color: #2b274c;
                        text-align: left;
                        margin: auto;
                        .icon-image{
                            background-image: url(../assets/images/grid.png);
                            width: 16.8px;
                            height: 16.8px;
                            display: inline-block;
                            background-size: 16.8px 16.8px;
                            background-repeat: no-repeat;
                        }
                    }


                    //second code
                    .container-left{
                        width: 80%;
                        display: inline-block;
                        .container-left-inside{
                            display: flex;
                            .b-icon{
                                float: left;
                            }
                            .card-header.category-list-name{
                                // text-align: left;
                                margin-bottom:5px;
                                font-size: 14px;
                                font-weight: 600;
                                // margin-left: 25px;

                                margin: 0 0;
                                padding: 0 0;
                                background-color: transparent;
                                font-size: 18px;
                                text-transform: uppercase;
                            }
                            .card-subtitle{
                                text-align: center;
                                margin-top:0;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                    }
                    .container-right{
                        width: 20%;
                        display: inline-block; 
                        width: 20%;
                        height: 20%;
                        img{
                            min-width: 100%;
                            min-height: 64px;
                            max-height: 64px;
                        }
                    }
                }
            }
        }
        .categorylistdetails{
            .card-body.category-list-name{
                background-color: #ffffff;
                -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
                border-radius: unset;
                color: #2a2755;
                .card-header.category-list-name{
                    margin: 0 0 ;
                    padding:0 0 ;
                    background-color: #ffffff;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                .container-left{
                    width: 80%;
                    display: inline-block;
                    .container-left-inside{
                        display: flex;
                        .b-icon{
                            float: left;
                        }
                        .card-header.category-list-name{
                            text-align: left;
                            margin-bottom:5px;
                            font-size: 14px;
                            font-weight: 600;
                            margin-left: 25px;
                        }

                    }
                    .card-subtitle{
                        text-align: center;
                        margin-top:0;
                        font-size: 12px;
                        font-weight: 600;
                        color: #c4c4c9 !important;
                        font-weight: normal;
                    }
                }
                .container-right{
                    width: 20%;
                    display: inline-block; 
                    width: 20%;
                    height: 20%;
                    img{
                        min-width: 100%;
                        min-height: 64px;
                        max-height: 64px;
                    }
                }

            }
        }
    }
    .independentlist{
        .card-body{
            background-color: transparent;
            -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: unset;
            color: #2a2755;
            .card-header.category-list-name{
                margin: 0 0 ;
                padding:0 0 ;
                background-color: transparent;
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
            .container-left{
                width: 80%;
                display: inline-block;
                .b-icon{
                    float: left;
                    margin-top: 5px;
                }
                .card-header.category-list-name{
                    text-align: left;
                    margin-bottom:5px;
                    font-size: 14px;
                    font-weight: 600;
                }
                .card-subtitle{
                    text-align: center;
                    margin-top:0;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            .container-right{
                width: 20%;
                display: inline-block; 
                width: 20%;
                height: 20%;
                img{
                    min-width: 100%;
                    min-height: 64px;
                    max-height: 64px;
                }
            }

        }
    }

}
// }
.show-more-post, .show-more-search, 
.show-more-post:hover, .show-more-search:hover,
.show-more-post:active, .show-more-search:active,
.show-more-post:focus, .show-more-search:focus
{
    color: #2b274c !important;
    background-color: #ffffff !important;
    border-color: #2b274c !important;
}
.load-more-cards{
    color: #7c7a7e! important;
    background-color: #ffffff;
    border-color: #ffffff;
}
@media(max-width:768px){
    .static-icon{
        vertical-align: super! important;
    }
    .duplicate{
        padding-left: 7px;
    }
    .static-container{
        .static-container-list{
            .card-body{
                padding-top:10px;
                padding-bottom:10px;
            }
        }
    }
    .post-container .independentlist .card-body .container-left .card-header.category-list-name{
        display: inline;
    }
}
.navbar-nav{
    text-align: center;
}  
.navbar-collapse{

    .search-wrapper, .login-wrapper, .list-wrapper{
        margin: 0 auto;
    }

}
// space reverted
// @media(max-width:1024px){ 
// .category_gradient{
//     .category-container{
//         .categorylistdetails{
//             margin-top:25px;
//         }
//     }
// }
// }
@media(min-width:1024px){ 
    .category_gradient1{
        width: 88%;
        margin: 0 auto;
        .categorylistadd{
            margin-bottom: 40px! important;
        }
    }
    .login-wrapper .navbar-nav{
        // float:right;
    }   
    .category-container {
        .card img{
            width: 80%;
            margin: 0 auto;
            max-height: 300px;
            max-width: 300px;
        }
        .categorylistname {
            width: 70%;
            margin: 25px auto;
            .category-list-name{
                width: 92%;
                margin: 15px auto;
                display: inline-block;
            }
            .static-container-list-name{
                margin: 5px auto;
            }
            .category-list-name-new{
                width: 100%;
                margin: 25px auto;
                display: inline-block;
            }
            .duplicate{
                width: 8%;
                // margin: 25px auto; 
                display: inline-block; vertical-align:middle;
                height:28px;

            }
        }
        .static-container{
            .static-container-list{
                margin: 15px auto;
                width: 65%;

            }
        }

    }

}
.small-button button{
    font-size: 13px;
}
//Home page
.recent-pill-button, .recent-pill-button:hover, .recent-pill-button:focus , .recent-pill-button:active{
    background-color: #726ad3! important;
    color: white! important;
    border: 2px solid #726ad3! important;
    font-weight: 600;
}
.recent-search-pill-button, .recent-search-pill-button:hover, .recent-search-pill-button:active ,.recent-search-pill-button:focus{
    background-color: #ffffff! important;
    color: #726ad3! important;
    border: 2px solid #726ad3! important;
    font-weight: 600;
}
.headline{
    h1 , h3{
        font-weight: 600;
        color: #2a2c5d;
    }
    h1{
        letter-spacing: 2px;
    }
}
// Gradient
.static-container li {
    color: black;
}
.static-container li:nth-child(odd) .card-body {
    background-image: linear-gradient(to right, #90a6d3 , #9b8be5);
    color:#fff;
}
.static-container li:nth-child(odd) .card-header {
    background-color: transparent;;
    color:#fff;
}
.static-container li:nth-child(even) .card-body {
    background-image: linear-gradient(to right, #4f95ab , #80c4db);
    color:#fff;
}
.static-container li:nth-child(even) .card-header {
    background-color: transparent;
    color:#fff;
}

.gradient-post .category:nth-child(1n) {
    background-image: linear-gradient(to right, #90a6d3 , #9b8be5);
}
.gradient-post .category:nth-child(2n) {
    background-image: linear-gradient(to right, #4f95ab , #80c4db);
}
.gradient-post .category:nth-child(3n) {
    background-image: linear-gradient(to right, #996da6 , #d2917c);
}

.post-contain, .category-container .static-container {
        padding-left: 40px;
    }
.post-contain .category_gradient:nth-child(1n) .category-container .categorylistname .card-body.post-container-list-name{
    background-image: linear-gradient(to right, #90a6d3 , #9b8be5);
    color:#fff;
    display: inline-flex;
    border-radius: 5px 5px;
}
.post-contain .category_gradient:nth-child(1n) .category-container .categorylistname .post-title{
    background-color: transparent;;
    color:#fff;
}
.post-contain .category_gradient:nth-child(2n) .category-container .categorylistname .card-body.post-container-list-name{
    background-image: linear-gradient(to right, #4f95ab , #80c4db);
    color:#fff;
    display: inline-flex;
    border-radius: 5px 5px;
}
.post-contain .category_gradient:nth-child(2n) .category-container .categorylistname .post-title {
    background-color: transparent;;
    color:#fff;
}
.post-contain .category_gradient:nth-child(3n) .category-container .categorylistname .card-body.post-container-list-name{
    background-image: linear-gradient(to right, #996da6 , #d2917c);
    color:#fff;
    display: inline-flex;
    border-radius: 5px 5px;
}
.post-contain .category_gradient:nth-child(3n) .category-container .categorylistname  .post-title {
    background-color: transparent;;
    color:#fff;
}
.post-contain .list_gradient .post-container-list .card-body.post-container-list-name{
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: unset;
    margin:0 0 ;
    color:#2a2755
}
.post-contain .list_gradient .post-container-list .card-header{
    background-color: #ffffff;
    color:#2a2755
}


.category_gradient1 .category-container .categorylistname .card-body.post-container-list-name{
    background-image: linear-gradient(to right, #90a6d3 , #9b8be5);
    color:#fff;
    display: inline-flex;
    border-radius: 5px 5px;
}
.category_gradient1 .category-container .categorylistname .card-body.background-pink{
    background-image: linear-gradient(to right, #587880, #db8be5);
   font-size: medium;
   font-family: Poppins Regular;
}
.category_gradient1 .category-container .categorylistname .post-title{
    background-color: transparent;;
    color:#fff;
}
// Navbar
.navbar{
    background-color:#2a2c5d;
    .navbar-brand{
        margin-left: 1rem;;
    }
    .navbar-button{
        color: #fff;
        background-color: transparent;
        border-color: #fff;
        font-size: 12px;
        // padding-left:15px;
        // padding-right: 15px;
        .dropdown-toggle{
            background-color: transparent;
        }
    }
    .navbar-button:hover{
        background-color: #a77ff7;
        border-color: #a77ff7;
    }
    .input-group-prepend{
        .input-group-text{
            background-color: #fff;
            color: #afacb3;
            font-size: smaller;
        }
    }
    input{
        border-left: 0;
    }
}
.hide{
    display: none;
}
.btn-to-top {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 50%;
    // font-size: 22px;
    line-height: 22px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    color:#aca8b2;
}
.list-a{
    width: 92%;
    display: inline-flex;
    padding: 0 0;
    .content{
        width: 75%;
        margin: auto;
        padding: 0.75rem 1.25rem; 
        padding-bottom: 5px;
        .card-subtitle{
            text-align: center;
            margin-top: 0;
            font-size: 12px;
            font-weight: 600;
            color: #c4c4c9 !important;
            font-weight: normal;
            padding-top: 8px;

        }
        .content-upper{
            /*margin-bottom: 10px;*/

            .content-upper-icon{
                display: inline-block;
                background-repeat: no-repeat;
                float: left;
                margin-right: 20px;
                display: block;
                margin-bottom: 5px; margin-top:1px;
                .icon_area{
                    background-image: url(../assets/images/list.png);
                    width: 16.8px;
                    height: 16.8px;
                    background-size: 16.8px 16.8px;
                }
            }
            .b-icon{
                float: left;
                font-style: normal;
                font-size: larger;
                margin-right: 20px;
                display: block;
                margin-bottom: 5px;
            }
            .content-upper-text{
                display: block;
                text-align: left;
                margin-bottom: 5px;
                font-size: 14px! important;
                font-weight: 600;
                letter-spacing: 0.59px;
            }
        }
    }
    .image{
        width: 25%;
        background-color: #ffffff;
        padding: 0.75rem 1.25rem;
        img{
            min-width: 100%;
            height: 100%;
            max-height: 64px;
        }
    }
}
@media(max-width:1024px){  
    .overlay {
        width: 100%;
    }
    .list-a{
        .content{
            padding-bottom: 8px;
            .card-subtitle{
                padding-top: 8px;
            }
        }
    }
}
.categorylistdetails{
    .card-body{
        /*margin-bottom: 25px;*/
        background-color: transparent;
        -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: unset;
        color: #2a2755;
        .content-upper-text{
            margin: 0 0;
            padding: 0 0;
            background-color: transparent;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
@media(max-width:768px){
    .list-a {
        .image{
            padding: 5px 5px;
            img{
                max-height: fit-content;
            }
        }
    }
}

/* 30-06-2020*/
.home {
    .list-a {
        .content {
            .card-subtitle {
                color: #c4c4c9 !important;
                font-weight: normal;
            }
        }
    }
}

.home {
    .show-more-post,
    .show-more-post:hover,
        .show-more-post:active,
        .show-more-post:focus {
        border-color: #1b133a;
        border-width: 2px;
    }
}

.navbar {
    .search-wrapper {
        .form-control {
            border: none;
            padding-left: 0;
            &:focus {
                border: none;
                box-shadow: inherit;
            }
            &::-webkit-input-placeholder {
                color: #aaa9af !important;
            }
            &:-ms-input-placeholder {
                color: #aaa9af !important;
            }
            &::placeholder {
                color: #aaa9af !important;
            }
        }
        .input-group-prepend {
            .input-group-text {
                border: none;
                box-shadow: inherit;
            }
        }
    }
}

.card-body {
    &.list-a {
        .image {
            img {
                min-width: auto;
                height: 100%;
                width: auto;
            }
        }
    }
}
.post-container {
    .post-container-category {
        .categorylistname {
            a {
                .post-container-list-name {
                    .img {
                        img {
                            min-width: auto;
                            height: 100%;
                            width: auto;
                            @media(max-width: 767px) {
                                min-height:inherit;
                                max-height: 40px;
                            }
                        }
                        @media(max-width:767px) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.duplicateicon {
    width: 24px;
    height: 26px;
    display: inline-block;
    background-image: url(../assets/images/icon_1.png);
    background-size: 24px 26px;
    background-repeat: no-repeat;
    a {
        display: block;
    }
}
@media(max-width:992px) {
    .card-body.list-a .image {
        img {
            max-height: 40px !important;
        }
    }
}


@media(max-width:767px) {
    .card-body.list-a .image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 40px !important;
        }
    }
    .list-a {
        .content {
            .content-upper {
                .content-upper-text {
                    /*padding-left: 37px !important;*/
                }
            }
            .card-subtitle {
                text-align: left;
            }
        }
    }
    .category-container {
        .static-container {
            padding-left: 0;
        }
    }
    .post-contain {
        padding-left: 0;
    }
    .flex_inline {
        width: 100%;
        display: inline-flex;
        margin-bottom: 0 !important;
        .content-upper-icon {
            display: inline-block;
            width: 15%;
            color: #2b274c;
            text-align: left;
            margin: auto 20px auto 0!important;
        }
        .text_area {
            width: 90%;
        }
    }
    .share-icon-mobile {
        display: inline;
    }
    .inner_content {
        display: inline-flex;
        width: 100%;
        .arrow_back {
            vertical-align: middle;
            margin: auto;
        }
        .content_center {
            width: 75%;
        }
        .duplicate {
            display: inline-block;
            vertical-align: middle;
            width: 10%;
            margin: auto;
            height: 27px;
            text-align: right;
        }
    }
    .static-container-list-name {
        display: inline-flex!important;
        text-align: left!important;
        margin: 0!important;
        .static-icon {
            max-height: 40px !important;
            vertical-align: middle !important;
            margin: auto;
            display: inline-block;
        }
    }

    .category_gradient,
    .independentlist {
        padding-left: 0;
        padding-right: 0;
    }
    .innerdiv .duplicate-icon {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}

@media(max-width:812px) {
    .navbar-toggler:hover,
    .navbar-toggler:focus {
        outline: none !Important;
    }
    .column_box {
        flex-direction: row;
        margin-top: 7px;
        .nav-item {
            width: 50%;
        }
    }
    /*	.search-wrapper {
                    margin-top: 10px !important;
            }*/
    .nav-link {
        color: #fff !important;
        background-color: transparent;
        border-color: #fff !important;
        font-size: 12px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        border: 1px solid #FFF !important;
        display: inline-block;
        border-radius: 0.25rem;
        margin-top: 11px;
    }
    .column_box {
        .nav-link {
            border: none !important;
        }
    }
}
@media(max-width:760px) {
    .card-header.col-md-10.static-container-list-name.category-list-name.text-center {
        float: left;
        width: 83%;
    }
}

.innerdiv .card-body a {
    display: flex;
    align-items: center;
}

.copy_ico {
    height: 28px;
}

.innerdiv {
    display: flex;
    align-items: center;
}
//Footer

.footer{
    bottom: 0;
    width: 100%;
    background-color: #2a2c5d;
    // height: 56px;
    color: #ffffff;
    padding: 0.5rem 1rem;
    .container{
        .columns{
            width:70%;
            margin: auto;
            .row{
                width: 100%;
    margin: auto;
            .column{
                margin-top: 5px;
                a{
                    color: #ffffff;
                    display: inline-block;
                    padding-bottom: 0.3125rem;
                    font-size: 1.25rem;
                    line-height: inherit;
                    white-space: nowrap;
                    text-decoration: none;
                    margin: auto 15px; 
                } 
            }
        }
        }
    }
}
@media(max-width:1024px){  
    .footer .container .columns{
        width: 100%;
    }
}
html,body{ 
    height: calc(100% - 88px);   
}
.main-content{
    min-height: 100%;
}
// Register Page
.registration{
    #terms{
        margin-bottom: 0px;
        .bv-no-focus-ring{
            display: inline-flex;
        }
    }
}
.margin-lr-5{
    margin-left: 5px;
    margin-right: 5px;
}
//Contact-Us container
//Overlay Content
.underline {
    text-decoration: underline; 
    }
    .element {
      background-color: #40a6ff;
      opacity: .85;
      padding: 20px;
      border-radius: 10px;
      color: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 50;
      right: 50;
      width: 5rem;
      height: 5rem;
    }
    
    /* The Overlay (background) */
    .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */    
      height: 100%;
      width: 0;
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
    //   left: 0;
      right:0;
      top: 0;
      background-color: #40a6ff;
      /*background-color: rgb(0,0,0); Black fallback color */
      /*background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    
    /* Position the content inside the overlay */
    .overlay-content {
      float: right;
      position: relative;
      top: 5%; /* 25% from the top */
      width: 95%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    
    /* The navigation links inside the overlay */
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }
    
    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    /* Position the close button (top right corner) */
    .overlay .closebtn {
      position: absolute;
    //   top: 20px;
      top: 0px;
      right: 45px;
      font-size: 60px;
    }
    
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
    .mb-20{
        margin-bottom: 20px;
    } 
    .contact-container{
        position: fixed;
    z-index: 99;
    // bottom: 20px;
    bottom: 5px;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #5096ac;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
        .contact-button{
            color:#fff;
            display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    // top: 0;
    // left: 0;
    // width: 64px;
    // height: 64px;
    top: 9px;
    left: 0;
    width: 65px;
    height: 45px;
    transition: transform 100ms linear, opacity 80ms linear;
        }
    }
    //List Duplicate Page
    .modal-duplicate-list:hover{ 
            text-decoration: none;
        }
        @media(max-width:320px) {
            .card-body.list-a .image {
                img {
                    max-height: 30px !important;
                }
            }
            .post-container .post-container-category .categorylistname a .post-container-list-name .img img{
                max-height: 30px;
            }
        }
        
// Card Color

$dark-grey: #343a40;
$light-grey: #f8f9fa;
$deep-purple: #23125a;

.card-header-color, .card-header-color:focus{
    background-color: $deep-purple !important;
    border-color: $deep-purple;
    input{
        border: 1px solid $deep-purple !important;
    }
}
.card-body-color{
    background-color: $deep-purple; 
}
.drag-color{
    background-color: $deep-purple !important;
    border-color: $deep-purple !important; 
}
// card text and weight
.card_title{
    font-size: 1rem;
    font-weight: 600;
}

.filter_sort{
    text-align: center;
    padding: 0;
    select{
        appearance: menulist;
    width: 15%;
    background: linear-gradient(to right, #90a6d3, #9b8be5);
    color: darkslategray;
    border: 1px solid grey;
    margin: 5px 5px;
    }
}